@import "tailwindcss";

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Google Sans Flex', sans-serif;
}
h1,h2,h3{
    font-family: 'Google Sans Flex', sans-serif;
}
a{
    @apply cursor-pointer transition-colors duration-150 hover:text-sky-500;
}
span{
    font-family: inherit;
    font-weight: inherit;
}
input, textarea{
    @apply transition-all duration-200
}
input:focus, textarea:focus{
    @apply outline-none ring-2 ring-sky-600;
}
.custom-button{
    @apply cursor-pointer bg-gray-600 text-white px-4 py-2 rounded hover:bg-sky-700 transition-all duration-200;
}
.custom-button-disabled{
    @apply  bg-gray-400 text-white px-4 py-2 rounded;
}
.custom-line{
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(180, 180, 180) 50%, rgba(255, 255, 255, 0) 100%);
}
.app-window-padding{
    @apply px-10 sm:px-16;
}
.app-window-margin{
    @apply mx-10 sm:mx-16;
}